<!--<section class="hero is-primary is-small animated slideInDown">  
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item pacifico medium-text ">            
            modern web store
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item">Home</a>
          <a class="nav-item">Carrinho</a>
          <a class="nav-item">Meu Perfil</a>
          <span class="nav-item">
            <a class="button is-primary is-inverted">
              <span class="icon">
                    <i class="fa fa-power-off"></i>
              </span>
              <span>Sair</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>
</section>-->

<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Produtos</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>

    <div class="columns is-multiline">
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/1280/960" alt="Image">
            </figure>
          </div>
          <div class="card-content">


            <!--<div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a>#css</a> <a>#responsive</a>
              <br>
              <small>11:09 PM - 1 Jan 2016</small>
            </div>-->
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <br>
              <h1 class="has-text-centered">RS 299.90</h1>
              <a class="button is-success is-fullwidth"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR</a>
            </div>

          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/1280/960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <br>
              <h1 class="has-text-centered">RS 299.90</h1>
              <a class="button is-success is-fullwidth"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR</a>
            </div>

          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/1280/960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <br>
              <h1 class="has-text-centered">RS 299.90</h1>
              <a class="button is-success is-fullwidth"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR</a>
            </div>

          </div>
        </div>
      </div>
      <div class="column is-3 animated slideInUp">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://lorempixel.com/1280/960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <br>
              <h1 class="has-text-centered">RS 299.90</h1>
              <a class="button is-success is-fullwidth"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; ADICIONAR</a>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Modern Web Store</strong> by <a href="http://balta.io">Jeremy Thomas</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/balta-io">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>